.item__breadcrumbs{
    width: 100%;
    background-color: aqua;
}

.item__container{
    background-color: lightblue;
    margin:auto;
    width: 75%;
    display: flex;
}

.item__container-article-main{
    width: 75%;
    background-color: chartreuse;
}

.item__container-article-side{
    width: 25%;
    background-color: fuchsia;
}

.item__section-photos{
    width: auto;
    height: 800px;
    background-color: #fff;
    box-shadow: 2px 2px 2px 2px rgba(0,0,0,0.2);
        border-radius: 5px;
    margin: 1rem 0;
}
.item__section-photos-div{
    padding: 0 2rem;
}
/*
.item__section-photos header{
    padding: 0 2rem;
}
*/
.item__section-photos header >div{
    padding: 0.5rem;
}
.item__section-photos header >div >ul >li{
    display: inline-block;
    padding-right: 2rem;
}

.item__section-photos header >div >ul >li>em{
    display: block;
}

.item__container-article-main-categories{
    padding: 0 0.5rem;
    margin: 0px 0 30px;
}

.item__container-article-main-categories >ul >li{
    display: inline-block;
    padding-right: 2rem;
}

.item__container-article-main-categories >ul>li:nth-child(3){
    float:right;
    padding: 0;
    margin:0 auto;
}
.item__container-article-main-categories >ul>li:nth-child(3)>span{
padding-right: 1rem;
}

.item__container-article-main-bigImage{
    height: 518px;
    background-color: #f5f8fb;
    border-radius: 5px;
    position: relative;
}

.item__container-article-main-bigImage>img{
    padding:1rem 0;
    object-fit: contain;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: 0 auto;
    height: 518px;
}

.item__container-article-main-bigImage-arrowPrev{
    position: absolute;
    left: 0;
    top:50%;
    transform: translateY(-50%);
}
.item__container-article-main-bigImage-arrowNext{
    position: absolute;
    right: 0;
    top:50%;
    transform: translateY(-50%);
}
.item__container-article-main-bigImage-arrowPrev,
.item__container-article-main-bigImage-arrowNext{
  width: 2rem;
  height: 2rem;
  margin: 10px 10px;
  border-radius: 50%;
  border: 2px solid white;
  background-color: #554971;
  color: white;
  transition: all 0.3s ease 0s;
  vertical-align: middle;
  font-weight:600;
  cursor: pointer;
  user-select: none;
}

.item__container-article-main-bigImage-arrowPrev > svgcd,
.item__container-article-main-bigImage-arrowNext> svg {
  transition: all 0.3s ease 0s;
  display: block;
  margin:auto;
  color: white;
}
.item__container-article-main-bigImage-arrowPrev:hover,
.item__container-article-main-bigImage-arrowNext:hover {
  border: 2px solid #daa520;
}

.item__container-article-main-bigImage-arrowPrev:hover svg,
.item__container-article-main-bigImage-arrowNext:hover svg{
  color: #daa520;
}

.item__section-information{
    width: auto;
    height: 800px;
    background-color: darkgoldenrod;
    box-shadow: 2px 2px 2px 2px rgba(0,0,0,0.2);
        border-radius: 5px;
    margin: 1rem 0;
}

.item__section-sidebar{
    width: 100%;
    height: 600px;
    background-color: cadetblue;
    box-shadow: 2px 2px 2px 2px rgba(0,0,0,0.2);
        border-radius: 5px;
    margin: 1rem 0;
}

