* {
  font-family: "Montserrat", sans-serif;
}

#root {
  background-color: #f5f8fb;
}

.landing__page_photo {
  width: 100%;
}

.landing__page_photo img {
  width: 100%;
  height: 800px;
  z-index: -1;
  object-fit: cover;
  margin-top: 100px;
}

.section_searchbar {
  position: absolute;
  width: 80%;
  bottom: 50%;
  left: 10%;
  display: flex;
  height: 100px;
  align-items: center;
  background-color: var(--primary-color);
  border-radius: 5px;
  justify-content: center;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.dropdown {
  position: relative;
  background-color: var(--secondary-color);
  margin: 1rem 0;
  border-radius: 5px;
  width: 300px;
  height: 80px;
  list-style: none;
  padding: 0 10px;
  text-align: center;
}
.dropdown label {
  display: flex;
  justify-content: center;
  color: var(--primary-text-color);
  padding: 5px 10px;
}

.errorDiv {
  background-color: var(--primary-color);
  display: flex;
  align-items: center;
  height: 50px;
  width: auto;
  position: absolute;
  bottom: 25%;
  left: 40%;
  border-radius: 5px;
  color: #fff;
  user-select: none;
  padding: 0 1rem;
}

.section_searchbar > div {
  background-color: var(--secondary-color);
  margin: 0 1rem;
  border-radius: 5px;
}

.form_div_wrapper {
  position: relative;
  padding: 10px 10px;
  color: var(--primary-text-color);
}
.form_label_wrapper {
  display: flex;
  justify-content: center;
}

.inputText {
  width: 100%;
  height: 40px;
  box-sizing: border-box;
  padding-left: 30px;
  border-radius: 5px;
  transition: all 0.3s ease 0s;
  outline: none;
  background-color: var(--article);
}

.svg {
  position: absolute;
  box-sizing: border-box;
  top: 65%;
  left: 15px;
  transform: translateY(-50%);
  color: var(--secondary-text-color);
}

.number_select {
  width: 300px;
}

.number_select > label {
  display: inline-block;
}

.number_select > div {
  display: flex;
  width: 100%;
}

.landing__page_card_section {
  margin: 40px 4rem;

}

.landing__page_card_section_list {
  display: flex;
  justify-content: space-evenly;
  list-style: none;
}

@media (max-width: 800px) {
  .landing__page_card_section {
    margin: 20px 0;
    list-style: none;
    display: flex;
    justify-content: center;
  }
  .landing__page_card_section_wrapper {
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
    overflow-y: hidden;
    scroll-snap-type: x mandatory;
    width: 340px;
    border-radius: 5px;
    padding: 10px;
    list-style: none;
  }

  .landing__page_card_section_wrapper > li {
    width: 300px;
    margin: 0 20px;
    scroll-snap-align: center;
    list-style: none;
  }

  ::-webkit-scrollbar {
    width: 5px;
    background-color: rgba(0, 0, 0, 0);
    border-radius: 5px;
  }

  ::-webkit-scrollbar-thumb {
    height: 5px;
    border-radius: 16px;
    background-color: var(--secondary-color);
  }

  ::-webkit-scrollbar-track {
    border-radius: 16px;
    background-color: rgba(0, 0, 0, 0);
  }
}

@media (max-width: 1530px) {
  .section_searchbar {
    width: 96%;
    bottom: 50%;
    left: 2%;
    right: 2%;
  }
  .section_searchbar > button {
    margin: 0 4px;
  }
}
@media (max-width: 1280px) {
  .section_searchbar {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 500px;
    flex-direction: column;
    top: 20%;
    width: 40%;
    left: 30%;
    right: 30%;
  }
  .form_div_wrapper {
    width: 320px;
  }
  .dropdown {
    width: 320px;
  }
  .section_searchbar > button {
    width: 320px;
  }
}

@media (max-width: 940px) {
  .section_searchbar {
    width: 340px;
  }
}
@media (max-width: 400px) {
  .section_searchbar {
    width: 340px;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.suggestions {
  width: 100%;
  display: block;
  background-color: red;
  position: absolute;
  text-align: center;
}
.suggestions li {
  list-style: none;
  margin: 10px 0;
  cursor: pointer;
  user-select: none;
}
