.search__form{
  position: fixed;
  top:100px;
  height: 100px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #8ac6d0;
  z-index: 0;
  
}

.search__form > div > ul {
  list-style: none;
}


.search__form_select {
  padding: 8px;
  margin: 0px 5px;
  border-radius: 5px;
}

.search__form_input {
  padding: 8px;
  margin: 0px 5px;
  border-radius: 5px;
}