.container_photos_bigPhoto {
  height: 518px;
  background-color: #f5f8fb;
  border-radius: 5px;
  position: relative;
  cursor:-webkit-zoom-in;
}

.container_photos_bigPhoto > img {
  padding: 1rem 0;
  object-fit: contain;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: 0 auto;
  height: 518px;
}

.container_photos_bigPhoto_arrowPrev {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}
.container_photos_bigPhoto_arrowNext {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}
.container_photos_bigPhoto_arrowPrev,
.container_photos_bigPhoto_arrowNext {
  width: 2rem;
  height: 2rem;
  margin: 10px 10px;
  border-radius: 50%;
  border: 2px solid white;
  background-color: #554971;
  color: white;
  transition: all 0.3s ease 0s;
  vertical-align: middle;
  font-weight: 600;
  cursor: pointer;
  user-select: none;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container_photos_bigPhoto_arrowPrev > svg,
.container_photos_bigPhoto_arrowNext > svg {
  transition: all 0.3s ease 0s;
  color: white;
}
.container_photos_bigPhoto_arrowPrev:hover,
.container_photos_bigPhoto_arrowNext:hover {
  border: 2px solid #daa520;
}

.container_photos_bigPhoto_arrowPrev:hover svg,
.container_photos_bigPhoto_arrowNext:hover svg {
  color: #daa520;
}

.container_photos_bigPhoto_arrowPrev:active > svg,
.container_photos_bigPhoto_arrowNext:active > svg {
  transform: scale(1.3, 0.9);
  transition: 0.15s;
}

.container_photos_bigPhoto_arrowPrev:active,
.container_photos_bigPhoto_arrowNext:active {
  background-color: #36213e;
}
.container_photos_bigPhoto_arrowPrev:disabled,
.container_photos_bigPhoto_arrowNext:disabled {
  background-color: #57555e;
  border: 2px solid black;
}

.container_photos_thumbnails {
  height: 150px;
  width: 100%;
  margin: 1rem 0;
  position: relative;
  background-color: rgba(245, 248, 251, 1);
  border-radius: 5px;
}

.thumbnails_wrapper{
  display: flex;
  justify-content: center;
}

.thumbnails {
  display: flex;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.thumbnails > li {
  width: 162px;
  height: 124px;
  cursor: pointer;
  list-style: none;
  margin: 0 12px 0 12px;
  background-color: rgba(201, 201, 201, 0.5);
  position: relative;
}

.selected {
  box-shadow: 0 0 2px 8px #daa520;
}

.thumbnails > li > img {
  object-fit: contain;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: 0 auto;
  height: 100%;
  width: 100%;
}
