.description_container {
  padding: 0 2rem 10px;
}

.description_container > h2 {
  padding: 1rem 0;
}

.description_container_maps {
  position: relative;
  padding: 0 3rem;
}

.description_wrapper{
  background-color: var(--text-background);
  border-radius: 5px;
  margin: 1rem 0;
}

.description_wrapper > h3{
  padding: 1rem 0;
}

.description_published{
  padding: 1rem 0;
  font-size: 16px;
}

.description_container_maps{
    background-color: var(--text-background);
  border-radius: 5px;
  padding: 1rem;
    margin: 1rem 0;
    height: 518px;
}

.maps {
  width: 100%;
  height: 100%;
  border-radius: 5px;
}
