.footer{
    width:100%;
    background-color: rgba(99, 118, 141, 1);
    display: block;
    bottom:0;
    padding: 2rem 6rem;
}

.container{
    display: flex;
    justify-content:space-around;
}

.container_social{
    display: block;
    padding: 1rem;
    background-color: #554971;
    border-radius: 5px;
}

.container_social>label{
    font-weight: 600;
    color: white;
}

.container_social_links{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: blanchedalmond;
    height: 60px;
    border-radius: 5px;
}
