.footer{
    width:100%;
    background-color: rgba(99, 118, 141, 1);
    display: block;
    bottom:0;
    padding: 2rem 6rem;
}

.footer__container{
    display: flex;
    justify-content:space-around;
}

.footer__container-social{
    display: block;
    padding: 1rem;
    background-color: #554971;
}

.footer__container-social>label{
    font-weight: 600;
    color: white;
}

.footer__container-social-links{
    display: flex;
    justify-content: space-around;
    padding: 0.5rem;
    background-color: blanchedalmond;
}
