.nav {
  position: fixed;
  width: 100%;
  height: 100px;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 10px 10%;
  background-color: rgba(99, 118, 141, 1);
  z-index: 10;
}

.svg{
  cursor: pointer;
      width: 40px;
  height: 40px;
}


.logo {
  cursor: pointer;
}

.sidebarClosed{
  position: absolute;
  top:100px;
  left:0;
  height: 100vh;
  width: 220px;
  background-color: aqua;
  transition: 0.5s ease translate;
  transform: translateX(-220px);
}
.sidebarOpened{
  position: absolute;
  top:100px;
  left:0;
  height: 100vh;
  width: 220px;
  background-color: aqua;
  transition: 0.5s ease translate;
  transform: translateX(0px);
}

.nav__links {
  list-style: none;
}

.nav__links li {
    height: 2.15rem;
  vertical-align: middle;
  display: inline-block;
  padding: 10px 32px;
  margin:0 5px;
  border-radius: 5px;
  background-color: #554971;
  transition: all 0.3s ease 0s;
}

.nav__links li  {
  color: white;
  text-decoration: none;
}

.nav__links li:hover {
  background-color: #36213e;
}

.nav__links li:hover  {
  color: #daa520;
}

@media (max-width: 800px) {

}


/*#8AC6D0
#B8F3FF
*/
