.nav {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 10px 10%;
  background-color: rgba(99, 118, 141, 1);
}

.logo {
  cursor: pointer;
}

.nav__links {
  list-style: none;
}

.nav__links li {
  vertical-align: middle;
  display: inline-block;
  padding: 10px 32px;
  margin: 5px;
  border-radius: 5px;
  background-color: #554971;
  transition: all 0.3s ease 0s;
}

.nav__links li a {
  color: white;
  text-decoration: none;
}

.nav__links li:hover {
  background-color: #36213e;
}

.nav__links li:hover a {
  color: #daa520;
}

.nav__links li {
  padding: 0 25px;
}


/*#8AC6D0
#B8F3FF
*/
