.container {
  position: relative;
  width: 100%;
}

.input {
  border:none;
  background-color: #fff;
  outline:none;
  padding-left: 8px;
  width: 100%;
  height: 40px;
  border-radius: 5px;
}

.input_active{
  border:none;
  background-color: #fff;
  outline:none;
  padding-left: 8px;
  width: 100%;
  height: 40px;
  border-radius: 5px 5px 0px 0px;
}

.containter > ul > li {
  background-color: #fff;
}

.list_active {
  list-style: none;
  display: block;
  position: absolute;
  width: 100%;
  background-color: #fff;
  cursor: pointer;
  user-select: none;
  border-radius: 0 0 5px 5px;
}

.list_item {
  text-decoration: none;
  padding: 4px 0 4px 8px;
}

.list_item_active{
  padding: 4px 0 4px 8px;
  text-decoration: underline #daa520;
  font-weight: 700;
}

.checkMark{
  vertical-align: middle;
  position:absolute; 
  right:0;
}
