.search_form {
  margin-top: 100px;
  height: 200px;
  width: 100%;
  background-color: var(--text-background);
  z-index: 0;
  padding: 20px 0;
  display: flex;
  align-items: center;
}

.section {
  display: grid;
  background-color: var(--primary-color);
  width: 100%;
  height: 100%;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 160px;
  align-items: center;
  justify-items: center;
  position: relative;
}
.sectionOpened {
  height: 200px;
  width: 100%;
  background-color: var(--primary-color);
  display: block;
  grid-column-start: span 8;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  align-items: center;
  justify-items: center;
  box-shadow: var(--box-shadow-dropdown);
  border-top: 1px solid rgba(216, 216, 216, 0.4);
}

.dropdown {
  position: relative;
  background-color: var(--secondary-color);
  margin: 1rem 0;
  border-radius: 5px;
  width: 300px;
  height: 80px;
  list-style: none;
  padding: 0 10px;
  text-align: center;
}

.dropdown label {
  display: flex;
  justify-content: center;
  color: white;
  padding: 5px 10px;
}

.areaPrice {
  position: relative;
  background-color: var(--secondary-color);
  margin: 1rem 0;
  border-radius: 5px;
  width: 300px;
  height: 80px;
  list-style: none;
  padding: 0 10px;
  text-align: center;
}
.areaPrice label {
  display: flex;
  justify-content: center;
  color: white;
  padding: 5px 10px;
}
.section_submit {
  grid-column-start: 5;
  grid-row: 1;
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid rgba(216, 216, 216, 0.4);
}
.section_submit > h5 {
  text-align: center;
  margin: 5px 0;
  color: var(--primary-text-color);
}
.section_submit > div {
  display: flex;
}
.section_submit > div > div {
  margin: 5px 10px;
}

.form_input_container {
  height: 80px;
  background-color: var(--secondary-color);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  padding: 0 10px;
  flex-direction: column;
}

.form_input {
  width: 100%;
  height: 40px;
  box-sizing: border-box;
  border-radius: 5px;
  transition: all 0.3s ease 0s;
  outline: none;
  text-align: center;
  border: none;
}
.form_input:focus {
  outline: solid var(--tertiary-text-color);
}

.form_input_container label {
  justify-content: center;
  color: white;
  padding: 5px 10px;
}

.form_div_wrapper {
  position: relative;
}

.inputCity {
  width: 100%;
  height: 40px;
  box-sizing: border-box;
  padding-left: 1.5rem;
  border-radius: 5px;
  transition: all 0.3s ease 0s;
  outline: none;
}
.inputCity:focus {
  outline: solid var(--tertiary-text-color);
}
.svg {
  position: absolute;
  box-sizing: border-box;
  top: 50%;
  left: 6px;
  transform: translateY(-50%);
}

.sectionOpened > div:nth-child(1) {
  grid-row: 2;
  grid-column: 1/2;
}
.sectionOpened > div:nth-child(2) {
  grid-row: 2;
  grid-column: 2/3;
}
.sectionOpened > div:nth-child(3) {
  grid-row: 2;
  grid-column: 3/4;
}
.sectionOpened > div:nth-child(4) {
  grid-row: 2;
  grid-column: 4/5;
}

@media (max-width: 800px) {
  .search__form {
    width: 100%;
  }
}

.small_button {
  border: none;
  border-radius: 5px;
  background-color: var(--secondary-color);
  color: var(--primary-text-color);
  transition: all 0.3s ease 0s;
  width: 100px;
  height: 40px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.small_button:hover {
  color: var(--tertiary-text-color);
  background-color: var(--tertiary-color);
}
.small_button:active {
  background-color: #051034;
  transform: scale(0.8, 0.8);
  transition: 0.15s;
  box-shadow: 0 0 2px 6px var(--tertiary-text-color);
}

.small_button:disabled {
  cursor: not-allowed;
  background-color: var(--disabled);
  border: 2px solid var(--secondary-text-color);
}

.small_button_ArrowOpened {
  transition: transform 0.5s ease-in-out;
  transform: rotate(0deg);
}

.small_button_ArrowClosed {
  transition: transform 0.5s ease-in-out;
  transform: rotate(180deg);
}
