* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
#root{
  background-color: var(--background-color);
}
:root {
  --primary-color: #63768d;
  --secondary-color: #554971;
  --tertiary-color: #36213e;
  --quaternary-color: #051034;
  --background-color: white;
  --article: #fff;
  --text-background: #f5f8fb;
  --disabled: #57555e;
  --primary-text-color: #efe7e7;
  --secondary-text-color: #141212;
  --tertiary-text-color: #daa520;
  --box-shadow-dropdown:
  0 2.8px 2.2px rgba(0, 0, 0, 0.034),
  0 6.7px 5.3px rgba(0, 0, 0, 0.048),
  0 12.5px 10px rgba(0, 0, 0, 0.06),
  0 22.3px 17.9px rgba(0, 0, 0, 0.072),
  0 41.8px 33.4px rgba(0, 0, 0, 0.086),
  0 100px 80px rgba(0, 0, 0, 0.12)
;
}
/*
layout
primary color  szary rgb(99 118 141) #63768d
secondary color  lekki fiolet #554971
tertiary color   mocny fiolet hover #36213e
quaternary color   active #051034
primary text color       prawie bialy
secondary text color     czarny/prawie czarny
tertiary te color      gold color
*/
